#root {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

td {
  height: 100px;
  width: 100px;
  background-color: #666;
  color: #fff;
  text-align: center;
  font-size: 36px;
}

td span {
  display: none;
  color: gray;
}

td:hover span {
  display: block;
}

.reset-game {
  text-align: center;
  margin: 20px auto;
}

.reset-game button {
  width: 100%;
  padding: 10px 0;
  font-size: 36px;
}